<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jueun_layout_archive</title>
  <link rel="stylesheet" href="layout.css">
</head>
<body>
<div id="container">
  <div class="text" style="grid-area: 1 / 1 / span 1 / span 1; background-color:#FFFF00;">
    <div class="nav">
      <a href="../../work.html"><img src="../backblack.png" alt=""></a>
    </div>
    <div class="explain">
         <img src="../../worklogo/layout.png" alt="">
         <p> 과제를 마치고 친구와 들른 빵집. 대화를 하던 중 순간적으로 떠오르는 단어들을 적어 빵봉투에 넣고, 매주 무작위로 뽑은 두 단어를 A5 지면에 글과 이미지로 표현하는 작업을 진행했다. 흑백의 단색톤만을 사용하여 조판의 매력을 느껴보고자 했다. 작은 우연이 만든 새로운 탐험. <br><br>공동작업자 : 문서연 (홍익대학교 시각디자인과)</p>
    </div>


  </div>

  <div class="content" style="grid-area: 1 / 2 / span 1 / span 1;">

    <img src="work1.jpg" alt="">
    <img src="work2.jpg" alt="">
    <img src="work3.jpg" alt="">
    <img src="work4.jpg" alt="">
    <img src="work5.jpg" alt="">
  </div>
</div>
</body>
</html>
